@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: rgb(0,100,0);
    box-shadow: 5px 5px 5px rgb(160, 192, 161);
    border: none;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;

}
button:hover {
    opacity: 0.9;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

li {
    border: 2px solid #03820e;
    border-radius: 20px;
    padding: 5px;
    
}

img {
    width: 100%;
    border-radius: 20px;
}
p {
    color: white;

    
}

.item-price {
    font-weight: bold;
    color: #79cb15;

}